:root {
    --container-loading-bg: #F1F2F3;
}


.skeleton {
    border-radius: 6px;
    color: transparent;
    border: none;
    outline: none;
    animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
    0% {
        background-color: hsl(200, 20%, 80%);
    }

    100% {
        background-color: hsl(200, 20%, 95%);
    }
}

.chart-image-loader {
    background-color: var(--container-loading-bg);
    padding: 4vw;
    border-radius: 6px;
}

.text-skeleton {
    background-color: var(--container-loading-bg);
    width: 100%;
    height: 0.7rem;
    margin-bottom: 0.5rem;
    padding: 2vw 25vw;
    border-radius: 6px;
}

.sub-text-skeleton {
    margin-top: 12px;
    background-color: var(--container-loading-bg);
    padding: 10px 0;
    border-radius: 6px;
}