:root {
    --body-background: #e0f2fe;
    --text-secondary-color: #a1a1aa;
    --nav-bg: #F0FAFF;
    --text-color: #fff;
    --background: #374150;
    --accent: #2790E9;

}

.nav-section {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: flex;
    justify-content: space-between;
    padding: 12px 12rem 6px 12rem;

}

.nav-header {
    display: flex;
    align-items: center;
}

.logo {
    width: 60px
}

a {
    text-decoration: none;
    color: #000;
}

.active {
    color: var(--accent) !important;
    font-weight: 700;
}

.logo-text {
    font-size: 2.3rem;
    text-transform: uppercase;
    margin-left: 6px;
    font-family: "NewakeFont", sans-serif;

}

.highlighted-text {
    color: var(--accent);
    font-weight: 500;
}

.links-container {
    display: flex;
    align-items: center;
}

.links {
    display: flex;
    list-style-type: none;

}

.links li a {
    text-decoration: none;
    color: var(--background);
    transition: all 0.3s ease-in-out;
}

.links li a:hover {

    color: var(--accent);
}

.link-skeleton {
    user-select: none;
    cursor: default;

}
@media screen and (max-width: 1024px){
    .nav-section {
        justify-content: space-between ;
  
    }
}
@media screen and (max-width: 768px) {
    .nav-section {
        justify-content: space-around;
        padding: 0.5rem 1.2rem;
    }
}