@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Poppins:wght@100;200;300;400;500;600;700;800&family=Roboto:wght@300;500;700;900&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

@font-face {
    font-family: NewakeFont;
    src: url(/fonts/NewakeFont-Demo.woff);
    font-weight: bold;
}

:root {
    --body-background: #e0f2fe;
    --text-secondary-color: #a1a1aa;
    --text-color: #fff;
    --background: #374150;
    --accent: #2790E9;
    --error-text-color: #e11d48;
    --text-font: Poppins, sans-serif;
    --header-font: NewakeFont, sans-serif;
}

body {
    background-color: var(--body-background);
    font-family: var(--text-font) !important;
}

.container {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.child {
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 40px;
    background-color: var(--text-color);
    border-radius: 6px;
    width: 100%;
    max-width: 1200px;
    height: auto;
}

.main {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 12px;
}

.header-text {
    font-size: clamp(1.5rem, -0.375rem + 6vw, 2.5rem);
    font-weight: bold;
    border-bottom: 4px solid var(--accent);
    border-width: 6px;
    font-family: "NewakeFont", sans-serif;
    letter-spacing: 2px;
   
}

.sub-text {
    display: block;
    font-weight: 300;
    font-size: 14px;
    color: var(--text-secondary-color);
}

.chart-image {
    width: 100%;
    max-width: 140px;

}

.child2 {
    display: flex;
    flex-direction: column;
}

.field-sub-text {
    font-size: 14px;
    margin-top: 2px;
    margin-bottom: 12px;
    width: 60%;
}

.input-section {
    position: relative;
}

.input-section input[type="text"] {
    display: block;
    padding: 14px 16px;
    width: 100%;
    max-width: 1200px !important;
    border-radius: 4px;
    outline: none;
    border: 3px solid var(--background);
}

.input-section input[type="text"]:focus {
    border: 3px solid var(--accent);
}

.invalid-input {
    color: var(--error-text-color);
    display: none;
}

.show-error {
    display: block;
}

.button-container {
    text-align: center;
    margin-top: 10px;
}

.btn {
    font-family: 'poppins', sans-serif;
    font-weight: 800;

    padding: 10px 24px;
    cursor: pointer;
    border: 2px solid var(--background);
    border-radius: 4px;
    outline: none;
    transition: all 0.3s ease;
}

.calculateBtn {
    color: var(--text-color);
    background-color: var(--accent);
    outline: none;

    margin-right: 4px;
}

.calculateBtn:hover {
    background-color: rgb(50, 140, 200);
}

.clearBtn {
    margin-right: 4px;
 
}

.clearBtn:hover {
    color: var(--text-color);
    background-color: var(--background);
}

.result {
    display: none;
    padding: 24px;
}

.result-container {

    color: var(--text-color);
    background-color: var(--background);
    padding: 12px 20px;
    border-radius: 4px;
}

.result-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-result {
    margin-top: 6px;
}

.chart-container {
    display: none;

}

.show-result {
    display: block;
}

.clipboard {
    padding: 10px 14px;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    transition: all 0.3s ease;
}

.clipboard:hover {
    color: var(--text-color);
    background-color: var(--accent);
}

.clipboard-icon {
    font-size: 1.1rem;
}

@media screen and (max-width: 768px) {
    .header .text {
        font-size: 10px;
    }

    .input-section input[type="text"] {
        width: 100%;
        max-width: 900px;
        margin-top: 20px;
    }

    .chart-image {
        display: none;
    }

    .chart-image-loader {
        display: none;
    }

    .chart {
        width: 100%;
        height: auto;
    }
}